/* CSS Variables */
:root {
    --primary-color: #234a56;
    --secondary-color: #417d95;
    --tertiary-color: #dde7dc;
}
/* CSS Variables End */

* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}
body {
    background-color: azure;
}
h1 {
    font-size: 36px;
}
main {
    margin: 20px 15px;
}
/* Header Style */

header {
    text-align: center;
    height: 100px;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: var(--tertiary-color);
    width: 100%;
}

header h1 {
    display: inline-block;
}
/* Header End */

/* Search for a City Styling */
.city-btn {
    background-color: azure;
    color: var(--primary-color);
    margin-top: 0.75rem;
}

.city-btn:hover {
    background-color: var(--secondary-color);
}

.city-btn:active {
    background-color: rgba(65, 125, 149, 0.5);
}

.search-for-a-city > * {
    display: block;
    height: fit-content !important;
    width: 100%;
}

.search-for-a-city input {
    border-color: #0d6efd;
    border-radius: 0.375rem;
}

.search-for-a-city input:focus {
    border-color: #0d6efd;
}

#api-warning {
    color: red;
}


/* Search for a City End */

/* Forecast Styling */
.forecast-container{
    /* background-color: var(--tertiary-color);
    border: 3px solid white; */
    /* flex-basis: 60%; */
    flex-grow: 1;
}

.card-body {
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    padding: 5px;
}
#today-forecast h2, #today-forecast div {
    flex-basis: 100%;
}


/* Forecast End */

/* Previous Searches Styling */

.previous-searches {
    margin-top: 2rem;
}

#previous-searches-row > .btn {
    background-color: var(--primary-color);
    color: white;
    margin: 0 0.5rem 0.67rem 0;
}

#previous-searches-row > .btn:hover {
    color: var(--primary-color);
    background-color: rgba(65, 125, 149, 0.375);
}

/* Previous Searches End */